.btn {
    margin-right: 5px;
}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

.tableActions {
    width: 105px;
}

.lancamentoForm {
    padding: 60px;
}

#menu {
    background-color: darkcyan;
}